
@{
    ViewBag.Title = "Incompatible";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Navegador incompatible</h2>
<p>Para poder visualizar correctamente la aplicación debe usar Internet Explorer 9+, Chrome, Firefox o Safari.</p>

